<footer>
    <div class="footer-row flex">
        <div class="footer-left flex">
            <div class="flex footer-links">
                <a target="_blank" href="https://capgemini-engineering.com/"> &copy; Altran</a>
            </div>
        </div>
        <div class="footer-right flex">
            <div class="flex footer-links">
                <a target="_blank" href="https://capgemini-engineering.com/">Contact Us</a>
                <a target="_blank" href="https://capgemini-engineering.com/">Facebook</a>
                <a target="_blank" href="https://capgemini-engineering.com/">Linkedin</a>
                <a target="_blank" href="https://capgemini-engineering.com/">Branches</a>
            </div>
        </div>
    </div>
</footer>