<div class="container">
    <img class="login-full-background" src="assets/images/engineering-background.png" />
    <div class="login-form-wrapper">
        <div class="login-form">
            <form>
                <h4>Login to Altran world!</h4>
                <div class="mb-3 row">
                    <label for="username" class="col-sm-3 col-form-label">Username</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" placeholder="Enter Username"
                            autocomplete="off">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" placeholder="Enter Password"
                            autocomplete="off">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
    </div>

</div>